{% extends "spondulator/layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4" style="padding-right: 2rem;text-align: end; color:maroon; font-size: large; font-weight: bolder; font-family: Georgia, 'Times New Roman', Times, serif;">
            <h3>History of Transactions</h3>
        </div>
        <div class="col-4"></div>
    </div>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.stock }}</td>
                <td>{{ purchase.shares }}</td>
                <td>${{ purchase.price }}</td>
                <td>{{ purchase.bought_at }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}


