{% extends "spondulator/layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    <div>
        <p>
            Hello, {{request.user}}
        </p>
    </div>

    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Current Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{total}}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for purchase in purchases %}
                <tr>
                    <td>{{ purchase.stock }}</td>
                    <td>{{ purchase.name }}</td>
                    <td>{{ purchase.total_shares }}</td>
                    <td>{{ purchase.price }}</td>
                    <td>{{ purchase.sum }}</td>
                </tr>
            {% endfor %}

            <tr>
                <td colspan="4">CASH IN HAND</td>
                <td>{{cash}}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}


